h2
  = I18n.t(:profile)
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = render "devise/shared/error_messages", resource: resource
  .filed
    = f.label :name
    br
    = f.text_field :name, autofocus: true
  .field
    = f.label :email
    br
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :subscribtion
    br
    = f.select :subscribtion, [[I18n.t("helpers.user.subscribtion.values.weekly", 'weekly')],
                               [I18n.t("helpers.user.subscribtion.values.daily", 'daily')],
                               [I18n.t("helpers.user.subscribtion.values.without", 'without')]]
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    div
      | Currently waiting confirmation for:
      = resource.unconfirmed_email
  .field
    = f.label :password
    i
      |(
      = I18n.t(:empty_blank)
      |)
    br
    = f.password_field :password, autocomplete: "new-password"
    - if @minimum_password_length
      br
      em
        = t('devise.shared.minimum_password_length', count: @minimum_password_length)
  .field
    = f.label :password_confirmation
    br
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .field
    = f.label :current_password
    i
      |(
      = I18n.t(:curr_pswd_confirm)
      |)
    br
    = f.password_field :current_password, autocomplete: "current-password"
  .actions
    = f.submit I18n.t(:update)
h3
  = I18n.t(:delete_account)
p
  = button_to I18n.t(:delete), registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete
= link_to I18n.t(:back), :back
